<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victory C.F</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Cal+Sans&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <section id="Inicio" class="title-page">
        <header id="header" class="">
            <img src="images/leonaso 2.svg" alt="">
            <div class="botonera">
                <button>Inicio</button>
                <button>Horarios</button>
                <button>Ubicación</button>
                <button>Contactos</button>

            </div>
            <button id="header-btn"><img src="images/Group 4.svg" alt=""></button>
        </header>

        <img class="fondo" src="images/image_one.jpg" alt="">
        <img class="victory_logo" src="images/victory_logo.svg" alt="">
    </section>

    <section class="clases">
        <div class="block">
            <div class="title">CROSSFIT</div>
            <div class="bloquecito">
                <p>El CrossFit es un tipo de entrenamiento súper completo que combina ejercicios funcionales, siempre
                    distintos y con intensidad. Mezcla cosas como levantamiento de pesas, gimnasia y cardio todo en una
                    sola clase. Su objetivo es mejorar tu fuerza, resistencia, flexibilidad y la agilidad.</p>
            </div>
            <img class="image" src="../images/image_cross.png" alt="">
        </div>

        <div class="block funcional">
            <div class="title">FUNCIONAL</div>
            <div class="bloquecito">
                <p>El entrenamiento funcional es una manera de moverse que te prepara para todo: desde levantar bolsas
                    del súper hasta rendir mejor en el deporte. Se basa en movimientos naturales del cuerpo, como hacer
                    sentadillas, flexiones o levantar peso, pero adaptados según tu nivel y tus objetivos. Es ideal si
                    querés entrenar de forma práctica, completa y sin aburrirte.</p>
            </div>
            <img class="image" src="../images/image_func.png" alt="">
        </div>

        <div class="block openbox">
            <div class="title">OPENBOX</div>
            <div class="bloquecito">
                <p>El Open Box es ese momento del día donde tenés el box a tu disposición para entrenar a tu ritmo.
                    Podés practicar los ejercicios que más te cuestan, mejorar tu técnica, seguir una rutina propia o
                    simplemente moverte un rato sin presión. No hay clase dirigida, pero sí todo el espacio, el
                    equipamiento y buena onda para que le saques el jugo al entrenamiento. Ideal si querés avanzar con
                    tus objetivos o entrenar con libertad.</p>
            </div>
            <img class="image" src="../images/image_open.png" alt="">
        </div>
    </section>

    <section id="Horarios" class="horarios-page">
        <h2 class="titulo">Horario de las clases</h2>
        <img class="fondo-horario" src="images/image_two.jpg" alt="">
        <div class="parent">
            <div class="tiempos">
                <div></div>
                <div>8:00am</div>
                <div>9:00am</div>
                <div>10:00am</div>
                <div>11:00am</div>
                <div>13:30pm</div>
                <div>15:00pm</div>
                <div>16:00pm</div>
                <div>17:00pm</div>
                <div>18:00pm</div>
                <div>19:00pm</div>
                <div>20:00pm</div>
            </div>
            <div class="dia">
                <div class="day">Lunes</div>
                <% clases.lunes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Martes</div>
                <% clases.martes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Miercoles</div>
                <% clases.miercoles.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Jueves</div>
                <% clases.jueves.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Viernes</div>
                <% clases.viernes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Sabado</div>
                <% clases.sabado.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="<%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
        </div>
    </section>
    <section id="Ubicación" class="ubication-page">
        <div class="last-block"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6564.820949939136!2d-58.59718290642089!3d-34.644335199999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc70f296a1c7f%3A0x7834fb1faa251b32!2sVictory%20CrossFuncional!5e0!3m2!1ses-419!2sar!4v1750348458627!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="contactos">
                <h4>Contactos</h4>
                <div class="botones">
                    <div>
                        <div class="logo"><img src="images/ig 1.svg" alt=""></div>
                        <a href="https://www.instagram.com/victory.cf/">Victory.cf</a>
                    </div>
                        
                    <div>
                        <div class="logo"><img src="images/telefono.svg" alt=""></div>
                        <p>+54 9 11 2347-5077</p>
                    </div>
                    <div>
                        <div class="logo"><img src="images/maps.svg" alt=""></div>
                    </div>
                </div>
            </div>

        </div>

        <button class="what-btn" onclick="abrirWhatsapp()">
            <p>WhatsApp</p> <img class="loguito" src="images/Vector.svg" alt="">
        </button>

    </section>
    <script src="scrypt.js"></script>
</body>

</html>