<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Victory</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Cal+Sans&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header id="header" class="">
            <img src="images/leonaso 2.svg" alt="">
            <div class="botonera">
                <button class="edit">Editar Clases</button>
                <button class="update">Guardar Cambios</button>
            </div>
            
        </header>
    <section id="Horarios" class="horarios-page">
        
        <img class="fondo-horario" src="images/image_two.jpg" alt="">
        <div class="parent">
            <div class="tiempos">
                <div></div>
                <div>8:00am</div>
                <div>9:00am</div>
                <div>10:00am</div>
                <div>11:00am</div>
                <div>13:30pm</div>
                <div>15:00pm</div>
                <div>16:00pm</div>
                <div>17:00pm</div>
                <div>18:00pm</div>
                <div>19:00pm</div>
                <div>20:00pm</div>
            </div>
            <div class="dia">
                <div class="day">Lunes</div>
                <% clases.lunes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box lunes <%=type%>">
                                                            <%=clase%>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Martes</div>
                <% clases.martes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box martes <%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Miercoles</div>
                <% clases.miercoles.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box miercoles <%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Jueves</div>
                <% clases.jueves.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box jueves <%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Viernes</div>
                <% clases.viernes.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box viernes <%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
            <div class="dia">
                <div class="day">Sabado</div>
                <% clases.sabado.forEach(clase=> { %>
                    <% let type="black" %>
                        <% if(clase==="Funcional y Crossfit" ){%>
                            <%type="func_cross" %>
                                <% } else if(clase==="Crossfit" ){ %>
                                    <% type="cross" %>
                                        <%} else if(clase==="Funcional" ){ %>
                                            <% type="func" %>
                                                <% } else if(clase==="Openbox" ){ %>
                                                    <% type="open" } %>
                                                        <div class="box sabado <%=type%>">
                                                            <%= clase %>
                                                        </div>
                                                        <% }); %>
            </div>
        </div>
    </section>
    <script src="prueba.js"></script>
</body>
</html>